spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: identity-service
          uri: lb://identity-service
          predicates:
            - Path=/api/auth/**
        - id: candidate-service
          uri: lb://candidate-service
          predicates:
            - Path=/api/candidates/**
        - id: employer-service
          uri: lb://employer-service
          predicates:
            - Path=/api/employers/**
        - id: job-service
          uri: lb://job-service
          predicates:
            - Path=/api/jobs/**
        - id: application-service
          uri: lb://application-service
          predicates:
            - Path=/api/applications/**
        - id: document-service
          uri: lb://document-service
          predicates:
            - Path=/api/documents/**

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/

server:
  port: 8080
